<div class="jumbotron">
    <h2>Agregar Producto</h2>
    <div class="container">
      <form action="/api/productos/guardar" method="POST">
          Nombre: <input type="text" name="title">
          Precio: <input type="text" name="price">
          Foto URL: <input type="text" name="thumbnail">
          <button>Enviar</button>
      </form>
    </div>
</div>