<div class="jumbotron py-4 m-0">
  <h2>Centro de mensajes</h2>
  <div class="card">
    <div class="card-body">
        <p>
          <input placeholder="email" id="email-input" type="text" name="email">
          <hr>
        </p>
    
        <p id="mensajes-container"></p>
    
        <div class="input-group">
          <input placeholder="mensaje" id="mensaje-input" class="form-control" type="text" name="mensaje">
          <div class="input-group-append">
            <button id="enviar-btn" class="btn btn-primary" onclick="enviarChat()">Enviar</button>
          </div>
        </div>
    </div>
  </div>
</div>